@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Sunflower:wght@300&display=swap');

/* 포트폴리오 섹션 */

body {
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, .logo-font{
    font-family: "Sunflower", sans-serif;
    font-weight: 700;
}

/* 포트폴리오 섹션 */

.card-img-top {
    transition: transform 0.5s;
}

.card-img-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* 포트폴리오 섹션 */
.banner{
    background-image: url(../images/card-banner.jpg);
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}
/* 네비게이션 영역 */
.nav-link.active,
.nav-link:hover {
    color: darkblue !important;
    font-weight: bold;
}